<br>
<h1> RECOMMENDED JOBS</h1>
<h2> Here are the top recommended jobs for your profile</h2>
<mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
<div class="content" fxLayout="column" fxLayoutAlign="left none"  *ngFor="let job of jobs">  
    <app-job-card
      fxFlex
      title={{job.title}}
      subTitle={{job.city}},{{job.state}}
      content={{job.description}}
      jobid={{job.jobid}}
      buttonText="apply"
      imagePath={{job.company.logo}}
    >
    </app-job-card>
</div>

<!-- <div class="pagination">
<mat-paginator [length]="length"
[pageSize]="pageSize"

(page)="getData($event)">
</mat-paginator>
</div> -->