<app-register class="register"></app-register>
<!-- <style>
.parallax {
    /* The image used */
    background-image: url("assets/image/bg_image.jpg");

    /* Set a specific height */
    min-height: 740px;
    min-width: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #4e26b5; */
    background-blend-mode: lighten;
}
</style>
<div class="parallax"></div> -->
<div class="content" fxLayout="row" fxLayoutAlign="center none">
  <app-api-card
    fxFlex
    title='"Personas"'
    subTitle="Public"
    imgUrl="assets/image/foo.png"
    content='This endpoint will present the personas to choose from'
    apiText="/api/foo"
    [responseObj]="fooResponse"
    (apiClick)="makeRequest($event)"
  >
  </app-api-card>

  <app-api-card
     fxFlex
     title='"Who am I"'
     subTitle="User preferences"
     imgUrl="assets/image/user.png"
     content='This endpoint will present the user with a list of preferences like farmer / plumber / maker / writer / hacker'
     apiText="/api/whoami"
     [responseObj]="whoamIResponse"
     (apiClick)="makeRequest($event)"
  >
  </app-api-card>

  <dazzleus-form
     class="last"
     fxFlex
     title='"Dazzle Us!"'
     subTitle="Show us what have you done?"
     imgUrl="assets/image/admin.png"
     content='This endpoint will let the user explain briefly and show what he has created.'
     apiText="/api/user/all"
     [responseObj]="allUserResponse"
     (apiClick)="makeRequest($event)"
  >
  </dazzleus-form>
</div>
