<div class="container-fluid text-info" style="border-style:solid; border-width:1px;">
  <!-- First Row-->
  <div class="row header">User Persona</div>
  <!-- Second Row-->
  <div class="row custom-margin" style="display:flex">
    <!-- Column 1 Second Row-->
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-12" style="max-height: 75%">
          <!--img class="profilePhoto" [src]="profilePhotoUrl" (click)="uploadPicture()"/--> <!--mat-card-image-->
          <img class="profilePhoto" [src]="profilePhotoUrl" (click)="imgFileInput.click()"/>
          <p class="img__description">This image looks super neat.</p>
          <input hidden type="file" #imgFileInput (change)="previewImage($event)"/>
        </div>
        <div class="col-sm-12 quoteProfile custom-margin">{{profileQuote}}</div>
      </div>

      <div class="row custom-margin">
        <div class="col-sm-12">
          <ul style="list-style: none; padding-left: 3px;">
            <li><span>Age:</span> {{age}}</li>
            <li><span>Work:</span> {{work}}</li>
            <li><span>Family:</span> {{family}}</li>
            <li><span>Location:</span> {{location}}</li>
            </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 headings custom-margin">Personality</div>
      </div>
      <div class="row">
        <div class="col-sm-12" style="padding: 0px;">
          <button *ngIf="!isPesonalityEditable" class="col-sm-2 editbutton" style="float: right" (click)="editPersonality()"><mat-icon >edit</mat-icon></button>
          <button *ngIf="isPesonalityEditable" class="col-sm-2 editbutton" style="float: right" (click)="editPersonality()"><mat-icon >save</mat-icon></button>
        </div>
      </div>
      <app-progress-bar-one class="row" [first_title]="label1" [last_title]="label2"  value={{score1}} [isDisabled]="!isPesonalityEditable" (custchange)="updatePersonality($event,'score1')"></app-progress-bar-one>
      <app-progress-bar-one class="row" [first_title]="label3" [last_title]="label4"  value={{score2}} [isDisabled]="!isPesonalityEditable" (custchange)="updatePersonality($event,'score2')"></app-progress-bar-one>
      <app-progress-bar-one class="row" [first_title]="label5" [last_title]="label6"  value={{score3}} [isDisabled]="!isPesonalityEditable" (custchange)="updatePersonality($event,'score3')"></app-progress-bar-one>
      <app-progress-bar-one class="row" [first_title]="label7" [last_title]="label8"  value={{score4}} [isDisabled]="!isPesonalityEditable" style="margin-bottom: 5px" (custchange)="updatePersonality($event,'score4')"></app-progress-bar-one>
    </div>

    <!-- Column 2 Second Row-->
    <div class="col-sm-6" style="display: flex;
    flex-direction: column;justify-content: flex-end;">
    <div class="row custom-margin custom-lr-margin">
      <div class="col-sm-12 headings">Persona Type</div>
    </div> 
    <div class="row">
      <div class="col-sm-12 trait" >
        User persona type: <b>{{trait}}</b>
      </div>
    </div>

      <div class="row custom-margin custom-lr-margin">
        <div class="col-sm-12 headings">Goals</div>
      </div>
      <div class="row">
        <div class="col-sm-12 custom-lr-margin" style="padding: 0px;">
          <button class="col-sm-1 editbutton" style="float: right" (click)="openListDialogue('goals')"><mat-icon >edit</mat-icon></button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="quote-goals">
            <li *ngFor="let goal of goals">{{goal}}</li>
          </ul>
        </div>
      </div>

      <div class="row custom-margin custom-lr-margin">
        <div class="col-sm-12 headings">Frustrations</div>
      </div>
      <div class="row">
        <div class="col-sm-12 custom-lr-margin" style="padding: 0px;">
          <button class="col-sm-1 editbutton" style="float: right" (click)="openListDialogue('frustrations')"><mat-icon >edit</mat-icon></button>
        </div>
        <div class="col-sm-12">
          <ul class="quote-goals">
            <li *ngFor="let frustration of frustrations">{{frustration}}</li>
          </ul>
        </div>
      </div>

      <div class="row pull-down" style="margin-top:35px">
        <div class="col-sm-6 headings custom-lr-margin">Bio</div>
        <div class="col-sm-12 custom-lr-margin bio" style="padding: 0px;">
          <button class="col-sm-1 editbutton" style="float: right;outline:none;" (click)="openDialogue('biodata')"><mat-icon >edit</mat-icon></button>
        </div>
        <div class="col-sm-12 custom-lr-margin bio" style="height:300px;">
          <p>{{biodata}}</p>
          </div>
      </div>
    </div>

    <!-- Column 3 Second Row-->
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-12 headings">Motivation</div>
      </div>
      <app-progress-bar-two class="row custom-margin" [label]="p2label1" [width]="p2width1"></app-progress-bar-two>
      <app-progress-bar-two class="row custom-margin" [label]="p2label2" [width]="p2width2"></app-progress-bar-two>
      <app-progress-bar-two class="row custom-margin" [label]="p2label3" [width]="p2width3"></app-progress-bar-two>
      <app-progress-bar-two class="row custom-margin" [label]="p2label4" [width]="p2width4"></app-progress-bar-two>
      <!-- <app-progress-bar-two class="row custom-margin" [label]="p2label5" [width]="p2width5"></app-progress-bar-two> -->
    </div>
  </div>
</div>


