<div class="container-fluid text-info" style="border-style:solid ;border-color:cyan; border-width:1px;">
  <!-- First Row-->
  <div class="row header">User Persona Type</div>
  <!-- Second Row-->
  <div class="row custom-margin" style="display:flex">
    <!-- Column 1 Second Row-->
    <div class="col-sm-3" style="background-color:white">
      <div class="row">
        <div class="col-sm-12 img-thumbnail">
          <img class="profilePhoto" [src]="profilePhotoUrl"/>
        </div>
        <div class="col-sm-12 quoteProfile custom-margin">{{profileQuote}}</div>
      </div>

      <div class="row custom-margin">
        <div class="col-sm-12">
          <ul style="list-style: none; padding-left: 3px;">
            <li><span>Age:</span> {{age}}</li>
            <li><span>Work:</span> {{work}}</li>
            <li><span>Family:</span> {{family}}</li>
            <li><span>Location:</span> {{location}}</li>
            <li><span>Character:</span> {{character}}</li>
            </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 headings custom-margin">Personality</div>
      </div>
      <app-progress-bar-one class="row" [first_title]="label1" [last_title]="label2" [width]="score1"></app-progress-bar-one>
      <app-progress-bar-one class="row" [first_title]="label3" [last_title]="label4" [width]="score2"></app-progress-bar-one>
      <app-progress-bar-one class="row" [first_title]="label5" [last_title]="label6" [width]="score3"></app-progress-bar-one>
      <app-progress-bar-one class="row" [first_title]="label7" [last_title]="label8" [width]="score4" style="margin-bottom: 5px"></app-progress-bar-one>
    </div>

    <!-- Column 2 Second Row-->
    <div class="col-sm-6" style="display: flex;
    flex-direction: column;justify-content: flex-end;">
      <div class="row custom-margin custom-lr-margin">
        <div class="col-sm-12 headings">Goals</div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="quote-goals">
            <li *ngFor="let goal of goals">{{goal}}</li>
          </ul>
        </div>
      </div>

      <div class="row custom-margin custom-lr-margin">
        <div class="col-sm-12 headings">Frustrations</div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="quote-goals">
            <li *ngFor="let frustration of frustrations">{{frustration}}</li>
          </ul>
        </div>
      </div>

      <div class="row pull-down" style="margin-top:35px">
        <div class="col-sm-12 headings custom-lr-margin">Bio</div>
        <div class="col-sm-12 custom-lr-margin bio" style="height:100%;">
          <p>{{biodata}}</p>
          <p>The bio should be a short paragraph to describe the user journey. It should include some of their history leading up to a current use case. It may be helpful to incorporate information listed across the template and add pertinent details that may have been left out. Highlight factors of the user's personal and of professional life that make this user an ideal customer of your product.</p>
          <p>Remember - you may modify this template, remove any of the modules or add new ones for your own purpose.</p>
        </div>
      </div>
    </div>

    <!-- Column 3 Second Row-->
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-12 headings">Motivation</div>
      </div>
      <app-progress-bar-two class="row custom-margin" [label]="p2label1" [width]="p2width1"></app-progress-bar-two>
      <app-progress-bar-two class="row custom-margin" [label]="p2label2" [width]="p2width2"></app-progress-bar-two>
      <app-progress-bar-two class="row custom-margin" [label]="p2label3" [width]="p2width3"></app-progress-bar-two>
      <app-progress-bar-two class="row custom-margin" [label]="p2label4" [width]="p2width4"></app-progress-bar-two>
      <app-progress-bar-two class="row custom-margin" [label]="p2label5" [width]="p2width5"></app-progress-bar-two>


      <div class="row custom-margin">
        <div class="col-sm-12 headings">Channels</div>
      </div>
      <app-progress-bar-two class="row custom-margin" [label]="p2label6" [width]="p2width6"></app-progress-bar-two>
      <app-progress-bar-two class="row custom-margin" [label]="p2label7" [width]="p2width7"></app-progress-bar-two>
      <app-progress-bar-two class="row custom-margin" [label]="p2label8" [width]="p2width8"></app-progress-bar-two>
    </div>
  </div>
</div>


