.header{
  background-color:rgb(103, 58, 183);
  font-family: proxima-bold, Helvetica, sans-serif;
  font-size:x-large;
  color:white;
  justify-content: center;
}

.profilePhoto {
  display:block;
  margin:30px;
  max-width: 70%;
  max-height: 70%;
  position: relative;
  border-radius: 50%;
}

.quoteProfile{
  background-color:rgb(103, 58, 183);
  font-family:proxima-bold, Helvetica, sans-serif;
  font-style:italic;
  font-weight:bold;
  font-size:medium;
  color:white;
}

.custom-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-lr-margin{
  margin-left: 5px;
  margin-right: 5px;
}

li span {
  color:rgb(103, 58, 183);
  font-weight:700;
}

.headings{
  color:rgb(103, 58, 183);
  /*font-weight:700;*/
  font-size:medium;
  font-family: Proxima-Light,Helvetica,sans-serif;
  font-size: 30px;
}

.mycontainer {
  width: 100%;
  height: 15px;
  background-color: #ddd;

}
.mytest { height:100%;width: 20px; background-color: rgb(103, 58, 183);position:relative; left:90%}

.quote-goals{
  font-family: Proxima-Light,Helvetica,sans-serif;
  font-size: 16px;
  text-align:left;
}

.bio{
  background-color: #ddd
}

.progress-bar-2 {
  width: 90%;
  height:100%;
  background-color: rgb(103, 58, 183);
}

.skills {
  color: white;
  padding-top:5px;
  padding-bottom:5px;
  text-align:center;
}

.editbutton {
  border: none;
  outline:none;
  -webkit-appearance: none;
  background: inherit;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.profilePhoto:hover .img__description {
  visibility: visible;
  opacity: 2;
}
