<div class="container" style="border-style:solid ;border-color:cyan; border-width:1px;">
  <!-- First Row-->
  <div class="row header">User Persona Type</div>
  <!-- Second Row-->
  <div class="row custom-margin" style="display:flex">
    <!-- Column 1 Second Row-->
    <div class="col-sm-3" style="background-color:white">
      <div class="row">
        <div class="col-sm-12">
          <img class="profilePhoto" [src]="profilePhotoUrl"/>
        </div>
        <div class="col-sm-12 quoteProfile custom-margin custom-lr-margin">{{profileQuote}}</div>
      </div>

      <div class="row custom-margin">
        <div class="col-sm-12">
          <ul style="list-style: none">
            <li><span>Age:</span> {{age}}</li>
            <li><span>Work:</span> {{work}}</li>
            <li><span>Family:</span> {{family}}</li>
            <li><span>Location:</span> {{location}}</li>
            <li><span>Character:</span> {{character}}</li>
            </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 headings custom-margin">Personality</div>
      </div>
      <app-progress-bar-one class="row" [first_title]="test1" [last_title]="test2" [width]="90"></app-progress-bar-one>
      <!--div class="row">
        <div class="col-sm-2">First</div>
        <div class="col-sm-7"></div>
        <div class="col-sm-3">Last</div>
        <div class="col-sm-12">
          <div class="mycontainer">
            <div class="skills mytest"></div>
          </div>
        </div>
      </div-->

      <div class="row">
        <div class="col-sm-2">First</div>
        <div class="col-sm-7"></div>
        <div class="col-sm-3">Last</div>
        <div class="col-sm-12">
          <div class="mycontainer">
            <div class="skills mytest"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Column 2 Second Row-->
    <div class="col-sm-6" style="display: flex;
    flex-direction: column;justify-content: flex-end;">
      <div class="row custom-margin custom-lr-margin">
        <div class="col-sm-12 headings">Goals</div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="quote-goals">
            <li>A Task that needs to be completed</li>
            <li>A Task that needs to be completed</li>
            <li>A Task that needs to be completed</li>
          </ul>
        </div>
      </div>

      <div class="row custom-margin custom-lr-margin">
        <div class="col-sm-12 headings">Frustrations</div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="quote-goals">
            <li>A Task that needs to be completed</li>
            <li>A Task that needs to be completed</li>
            <li>A Task that needs to be completed</li>
          </ul>
        </div>
      </div>
      <div class="row pull-down" style="margin-top:35px">
        <div class="col-sm-12 headings custom-lr-margin">Bio</div>
        <div class="col-sm-12 custom-lr-margin bio" style="height:100%;"><p>The bio should be a short paragraph to describe the user journey. It should include some of their history leading up to a current use case. It may be helpful to incorporate information listed across the template and add pertinent details that may have been left out. Highlight factors of the user's personal and of professional life that make this user an ideal customer of your product.</p>
          <p>Remember - you may modify this template, remove any of the modules or add new ones for your own purpose.</p>
        </div>
      </div>
    </div>

    <!-- Column 3 Second Row-->
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-12 headings">Motivation</div>
      </div>

      <div class="row custom-margin">
        <div class="col-sm-12">Incentive</div>
        <div class="col-sm-12">
          <div class="mycontainer" style="height:25px">
            <div class="skills progress-bar-2">90%</div>
          </div>
        </div>
      </div>

      <div class="row custom-margin">
        <div class="col-sm-12">Fear</div>
        <div class="col-sm-12">
          <div class="mycontainer" style="height:25px">
            <div class="skills progress-bar-2">90%</div>
          </div>
        </div>
      </div>

      <div class="row custom-margin">
        <div class="col-sm-12">Growth</div>
        <div class="col-sm-12">
          <div class="mycontainer" style="height:25px">
            <div class="skills progress-bar-2">90%</div>
          </div>
        </div>
      </div>

      <div class="row custom-margin">
        <div class="col-sm-12">Power</div>
        <div class="col-sm-12">
          <div class="mycontainer" style="height:25px">
            <div class="skills progress-bar-2">90%</div>
          </div>
        </div>
      </div>

      <div class="row custom-margin">
        <div class="col-sm-12">Social</div>
        <div class="col-sm-12">
          <div class="mycontainer" style="height:25px">
            <div class="skills progress-bar-2">90%</div>
          </div>
        </div>
      </div>

      <div class="row custom-margin">
        <div class="col-sm-12 headings">Preferred Channels</div>
      </div>
      <div class="row custom-margin">
        <div class="col-sm-12">Traditional Ads</div>
        <div class="col-sm-12">
          <div class="mycontainer" style="height:25px">
            <div class="skills progress-bar-2">90%</div>
          </div>
        </div>
      </div>

      <div class="row custom-margin">
        <div class="col-sm-12">Online Social Media</div>
        <div class="col-sm-12">
          <div class="mycontainer" style="height:25px">
            <div class="skills progress-bar-2">90%</div>
          </div>
        </div>
      </div>

      <div class="row custom-margin">
        <div class="col-sm-12">Referrals</div>
        <div class="col-sm-12">
          <div class="mycontainer" style="height:25px">
            <div class="skills progress-bar-2">90%</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
