.header{
  background-color:cyan;
  font-family: proxima-bold, Helvetica, sans-serif;
  font-size:x-large;
  color:white;
}

.profilePhoto {
  display:block;
  margin:auto;
  max-width: 100%;
  max-height: 100%;
}

.quoteProfile{
  background-color:cyan;
  font-family:proxima-bold, Helvetica, sans-serif;
  font-style:italic;
  font-weight:bold;
  font-size:medium;
  color:white;
}

.custom-margin {
  margin-top: 20px;
  margin-bottom: 20px";
}

.custom-lr-margin{
  margin-left: 5px;
  margin-right: 5px";
}

li span {
  color:cyan;
  font-weight:700;
}

.headings{
  color:cyan;
  /*font-weight:700;*/
  font-size:medium;
  font-family: Proxima-Light,Helvetica,sans-serif;
  font-size: 30px;
}

.mycontainer {
  width: 100%;
  height: 15px;
  background-color: #ddd;

}
.mytest { height:100%;width: 20px; background-color: cyan;position:relative; left:90%}

.quote-goals{
  font-family: Proxima-Light,Helvetica,sans-serif;
  font-size: 16px;
  text-align:left;
}

.bio{
  background-color: #ddd
}

.progress-bar-2 {
  width: 90%;
  height:100%;
  background-color: cyan;
}

.skills {
  color: white;
  padding-top:5px;
  padding-bottom:5px;
  text-align:center;
}
