<mat-card>
  <mat-card-header mat-card-title class="text-capitalize">{{data.title}}</mat-card-header>
  <mat-card-content>
    <!--mat-form-field class="example-full-width w-100" *ngFor="let item of listItems;let index = index;trackBy:trackByIndex;">
      <textarea matInput maxlength="300"  [(ngModel)]="listItems[index]" class="textbox"></textarea>
    </mat-form-field-->

    <mat-form-field>
      <textarea matInput maxlength="300"  [(ngModel)]="item1" class="textbox example-full-width w-100"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput maxlength="300"  [(ngModel)]="item2" class="textbox example-full-width w-100"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput maxlength="300"  [(ngModel)]="item3" class="textbox example-full-width w-100"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput maxlength="300"  [(ngModel)]="item4" class="textbox example-full-width w-100"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput maxlength="300"  [(ngModel)]="item5" class="textbox example-full-width w-100"></textarea>
    </mat-form-field>
    <!--textarea maxlength="350" [(ngModel)]="data"></textarea-->
    <mat-dialog-actions fxLayoutAlign="end">
      <button mat-button (click)="onSave()">Save</button>
      <button mat-button (click)="onCancel()">Cancel</button>
    </mat-dialog-actions>
  </mat-card-content>

</mat-card>
