.content {
  width: 100%;
  padding: 30px;

   /* The image used */
   background-image: url("~assets/image/bg_image.jpg");
   
       /* Set a specific height */
       min-height: 740px;
       min-width: 600px;
   
       /* Create the parallax scrolling effect */
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       /* background-color: #4e26b5; */
       background-blend-mode: lighten;
}
mat-tab-group {
  width:400px;
  background-color: wheat;
}


mat-card {
  max-width: 400px;
  text-align: center;
  animation: fadein 1s;
  -o-animation: fadein 1s; /* Opera */
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */

}

mat-form-field {
  width:100%;
  display: block;
}

mat-spinner {
  width: 25px;
  height: 25px;
  margin: 20px auto 0 auto;
}



button {
  display: block;
  width: 100%;
}

.error {
  color: #D50000;
}

.success {
  color: #8BC34A;
}


@media screen and (max-width: 599px) {

  .content {
    /* https://github.com/angular/flex-layout/issues/295 */
    display: block !important;
  }

  mat-card {
    /* https://github.com/angular/flex-layout/issues/295 */
    display: block !important;
    max-width: 999px;
  }

}

a {
  text-decoration: none;
  cursor: auto;
  color: #FFFFFF;
}
