.mycontainer {
  width: 100%;
  height: 15px;
  background-color: #ddd;
}

.skills {
  color: white;
  padding-top:5px;
  padding-bottom:5px;
  text-align:center;
}

.progress-bar-2 {
  width: 90%;
  height:100%;
  background-color: cyan;
}
