<br>
<h1> JOB SEARCH </h1>
<div *ngIf="searched">
  <h3> Search results for <b>{{searchTxt}}</b></h3>
</div> 

<div class="content" fxLayout="column" fxLayoutAlign="left none"  *ngFor="let job of jobs">  
    <app-job-card
      fxFlex
      title={{job.title}}
      subTitle={{job.location}}
      content={{job.description}}
      jobid={{job.jobid}}
      buttonText="Apply"
      imagePath={{job.company.logo}}
    >
    </app-job-card>
</div>

<div class="pagination">
<mat-paginator [length]="length"
[pageSize]="pageSize"

(page)="getSearchData($event)">
</mat-paginator>
</div>