<mat-toolbar color="primary" class="app-navbar">
  <button mat-button matRipple *ngIf="isCompany()" routerLink="/company-home">
    <!--<img alt="New-Collar-Jobs" class="app-angular-logo" src="assets/image/angular-white-transparent.svg">-->
    <span style="font-weight: bold">New Collar Jobs</span>
  </button>

  <button mat-button matRipple *ngIf="!isCompany()" routerLink="/user-home">
    <!--<img alt="New-Collar-Jobs" class="app-angular-logo" src="assets/image/angular-white-transparent.svg">-->
    <span style="font-weight: bold">New Collar Jobs</span>
  </button>

  <div class="searchDiv" *ngIf="isUser()">
  <input class= "search" placeholder="Search Jobs..." #searchText (keyup)="searchTerm$.next($event.target.value)">
  <button class="searchButton"  mat-button matRipple (click)="onSearchClick(searchText.value)">
    <!--<img alt="New-Collar-Jobs" class="app-angular-logo" src="assets/image/angular-white-transparent.svg">-->
    <i class="fa fa-search"></i>
  </button>
  </div>


  <ul *ngIf="results">
  <li *ngFor="let result of results | slice:0:9">
    <a href="{{ result.latest }}" target="_blank">
      {{ result.name }}
    </a>
  </li>
  </ul>

  <div class="right">
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
      <button *ngIf="!hasSignedIn()" routerLink="/login" mat-button matRipple>
        <span>Login</span>
      </button>
      <button class="sign-up-button" *ngIf="!hasSignedIn()" routerLink="/register" mat-button matRipple>
        <span>Sign up</span>
      </button>
      <button class="sign-up-button" *ngIf="isCompany()" routerLink="/postjob" mat-button matRipple>
        <span> Post Job </span>
      </button>
      <button
        class="greeting-button"
        *ngIf="hasSignedIn()"
        mat-button matRipple
        [matMenuTriggerFor]="accountMenu">
        <span>Aloha, {{userName()}}</span>
      </button>
      <button
        class="greeting-hamburger"
        *ngIf="hasSignedIn()"
        mat-icon-button matRipple
        [matMenuTriggerFor]="accountMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #accountMenu
        class="app-header-accountMenu"
        yposition="below"
        [overlapTrigger]="false">
        <app-account-menu ></app-account-menu>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

