@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:host {
  position: relative;
  z-index: 10;
  color: #fff;
}

// The menu popup is rendered outside the header component
// so we will restyle a couple things inside a global /deep/ selector

.app-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // background-color: #59AADA;
  //opacity: 0.6;

  .right {
    margin-left: auto;
    float: right;
  }
}

.app-navbar span {
  text-transform: uppercase !important;
}

.app-angular-logo {
  margin: 0 4px 3px 0;
  height: 26px;
}

.greeting-hamburger {
  display: none;
}

.sign-up-button{
  color:white;
  background-color: #473F64;
}

.searchDiv{
  width:700px;
}

.search {
  margin-left:50px; 
  width: 130px;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px; 
 // padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search:focus {
  outline: none;
  width: 50%;
}

.searchButton {
  outline: none;
  position: relative;  
  text-align: left;
  color: #fff;
  font-size: 30px;
}


/deep/ {
  .app-header-accountMenu.mat-menu-panel {
    border-radius: 3px;
    max-width: initial;
    overflow: visible;

    .mat-menu-content {
      max-width: initial;
      padding: 0;
      overflow: hidden;
      display: inline-block;
      margin-bottom: -6px;
    }
  }
}
@media screen and (max-width: 600px) {
  .greeting-hamburger {
    display: block;
  }
  .greeting-button {
    display: none;
  }
}


